- if enrollee.cp_id.present? || enrollee.c_id.present?
  %alias_ids
    - if enrollee.c_id.present?
      %alias_id
        %id= "urn:openhbx:hbx:me0:resources:v1:person:member_id##{enrollee.c_id}"
    - if enrollee.cp_id.present?
      %alias_id
        %id= "urn:openhbx:hbx:me0:resources:v1:person:policy_id##{enrollee.cp_id}"